<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Resume/CV</title>
  <meta name="description" content="This is a site for person of Resume/CV">
  <meta name="author" content="Meswx">

  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- use Vue.js @meswx -->
  <div id="container">
    <!-- Header -->
    <header id="header">
      <div class="intro">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1>{{ header.hi }}<span class="name">{{ personInfo.name }}</span></h1>
              <p>{{ personInfo.job }}</p>
              <a href="#about" class="btn btn-default btn-lg page-scroll">{{ header.detail }}</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Navigation -->
    <div id="nav">
      <nav class="navbar navbar-custom">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i
                class="fa fa-bars"></i> </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ personInfo.name }}</a> </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
              <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
              <li class="hidden"> <a href="#page-top"></a> </li>
              <li> <a class="page-scroll" href="#about">{{ navigation.about }}</a> </li>
              <li> <a class="page-scroll" href="#skills">{{ navigation.skills }}</a> </li>
              <li> <a class="page-scroll" href="#portfolio">{{ navigation.portfolio }}</a> </li>
              <li> <a class="page-scroll" href="#resume">{{ navigation.resume }}</a> </li>
              <li> <a class="page-scroll" href="#contact">{{ navigation.contact }}</a> </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- About Section -->
    <div id="about">
      <div class="container">
        <div class="section-title text-center center">
          <h2>{{ about.title }}</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-12 text-center"><img src="img/about.jpg" class="img-responsive"></div>
          <div class="col-md-8 col-md-offset-2">
            <div class="about-text">
              <p>{{ about.subtitle }}</p>
              <p>{{ about.introduction }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Skills Section -->
    <div id="skills" class="text-center">
      <div class="container">
        <div class="section-title center">
          <h2>{{ skills.title }}</h2>
          <hr>
        </div>
        <div class="row">
          <div v-for="skill in skills.list" class="col-md-4 col-sm-6 skill"> <span class="chart"
              v-bind:data-percent="skill.percent"> <span class="percent">{{ Number(skill.percent) }}</span>
            </span>
            <h4>{{ skill.name }}</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio Section -->
    <div id="portfolio">
      <div class="container">
        <div class="section-title text-center center">
          <h2>{{ portfolio.title }}</h2>
          <hr>
        </div>
        <div class="categories">
          <ul class="cat">
            <li>
              <ol class="type">
                <li><a href="#" data-filter="*" class="active">All</a></li>
                <li><a href="#" data-filter=".web">Web Design</a></li>
                <li><a href="#" data-filter=".app">App Development</a></li>
                <li><a href="#" data-filter=".branding">Branding</a></li>
              </ol>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="row">
          <div class="portfolio-items">
            <div class="col-sm-6 col-md-3 col-lg-3 web">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="img/portfolio/01-large.jpg" title="Project description"
                    rel="prettyPhoto">
                    <div class="hover-text">
                      <h4>Project Title</h4>
                      <small>Web Design</small>
                    </div>
                    <img src="img/portfolio/01-small.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 app">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="img/portfolio/02-large.jpg" title="Project description"
                    rel="prettyPhoto">
                    <div class="hover-text">
                      <h4>Project Title</h4>
                      <small>App Development</small>
                    </div>
                    <img src="img/portfolio/02-small.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 web">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="img/portfolio/03-large.jpg" title="Project description"
                    rel="prettyPhoto">
                    <div class="hover-text">
                      <h4>Project Title</h4>
                      <small>Web Design</small>
                    </div>
                    <img src="img/portfolio/03-small.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 web">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="img/portfolio/04-large.jpg" title="Project description"
                    rel="prettyPhoto">
                    <div class="hover-text">
                      <h4>Project Title</h4>
                      <small>Web Design</small>
                    </div>
                    <img src="img/portfolio/04-small.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 app">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="img/portfolio/05-large.jpg" title="Project description"
                    rel="prettyPhoto">
                    <div class="hover-text">
                      <h4>Project Title</h4>
                      <small>App Development</small>
                    </div>
                    <img src="img/portfolio/05-small.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 branding">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="img/portfolio/06-large.jpg" title="Project description"
                    rel="prettyPhoto">
                    <div class="hover-text">
                      <h4>Project Title</h4>
                      <small>Branding</small>
                    </div>
                    <img src="img/portfolio/06-small.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 branding app">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="img/portfolio/07-large.jpg" title="Project description"
                    rel="prettyPhoto">
                    <div class="hover-text">
                      <h4>Project Title</h4>
                      <small>App Development, Branding</small>
                    </div>
                    <img src="img/portfolio/07-small.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 web">
              <div class="portfolio-item">
                <div class="hover-bg"> <a href="img/portfolio/08-large.jpg" title="Project description"
                    rel="prettyPhoto">
                    <div class="hover-text">
                      <h4>Project Title</h4>
                      <small>Web Design</small>
                    </div>
                    <img src="img/portfolio/08-small.jpg" class="img-responsive" alt="Project Title">
                  </a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Achievements Section -->
    <div id="achievements" class="text-center">
      <div class="container">
        <div class="section-title center">
          <h2>Some Stats</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="200ms">
            <div class="achievement-box"> <span class="count">310</span>
              <h4>Happy Clients</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="400ms">
            <div class="achievement-box"> <span class="count">4700</span>
              <h4>Hours of Work</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="600ms">
            <div class="achievement-box"> <span class="count">30</span>
              <h4>Awards Won</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="800ms">
            <div class="achievement-box"> <span class="count">8</span>
              <h4>Years of Experience</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section -->
    <div id="resume" class="text-center">
      <div class="container">
        <div class="section-title center">
          <h2>{{ experience.title }}</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <!-- Experience Section-->
              <li v-for="(item, index) in experience.items" v-bind:class="{'timeline-inverted':index%2 != 0}">
                <div class="timeline-image">
                  <h4 v-html="item.time">{{ item.time }}</h4>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>{{ item.companyName }}</h4>
                    <h4 class="subheading">{{ item.position }}</h4>
                  </div>
                  <div class="timeline-body">
                    <p v-html="item.responsibilitys">{{ item.responsibilitys }}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="section-title center">
          <h2>{{ education.title }}</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <!-- Education Section-->
              <li v-for="(item, index) in education.items" v-bind:class="{'timeline-inverted':index%2 != 0}">
                <div class="timeline-image">
                  <h4 v-html="item.date">{{ item.date }}</h4>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>{{ item.schoolName }}</h4>
                    <h4 v-for="result in item.achievements" class="subheading">{{ result.desc }}</h4>
                  </div>
                  <div class="timeline-body">
                    <p>{{ item.schoolProfile }}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Section -->
    <div id="contact" class="text-center">
      <div class="container">
        <div class="section-title center">
          <h2>{{ contact.title }}</h2>
          <hr>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="col-md-4"> <i class="fa fa-map-marker fa-2x"></i>
            <p>{{ contact.street }}<br>{{ contact.city }}</p>
          </div>
          <div class="col-md-4"> <i class="fa fa-envelope fa-2x"></i>
            <p>{{ contact.email }}<br>{{ contact.emailnote }}</p>
          </div>
          <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
            <p>{{ contact.phone }}<br>{{ contact.phonenote }}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <h3>{{ contact.subtitle }}</h3>
          <div class="social">
            <ul>
              <li v-if="contact.facebook"><a target="_blank" v-bind:href="contact.facebook"><i
                    class="fa fa-facebook"></i></a></li>
              <li v-if="contact.twitter"><a target="_blank" v-bind:href="contact.twitter"><i
                    class="fa fa-twitter"></i></a></li>
              <li v-if="contact.dribbble"><a target="_blank" v-bind:href="contact.dribbble"><i
                    class="fa fa-dribbble"></i></a></li>
              <li v-if="contact.github"><a target="_blank" v-bind:href="contact.github"><i class="fa fa-github"></i></a>
              </li>
              <li v-if="contact.weibo"><a target="_blank" v-bind:href="contact.weibo"><i class="fa fa-weibo"></i></a>
              </li>
              <li v-if="contact.instagram"><a target="_blank" v-bind:href="contact.instagram"><i
                    class="fa fa-instagram"></i></a></li>
              <li v-if="contact.linkedin"><a target="_blank" v-bind:href="contact.linkedin"><i
                    class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container text-center">
        <div class="fnav">
          <p>
            <span>Copyright &copy; {{ new Date().getFullYear() }} {{ copyright.author }}.</span>
            <span v-if="copyright.original">Designed by {{ copyright.original }}(Original Author, Thanks).</span>
            <span v-if="copyright.source">Power on <a v-bind:href="copyright.sourceurl"
                rel="nofollow">{{ copyright.source }}</a></span>
          </p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/easypiechart.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.js"></script>
    <script type="text/javascript" src="js/waypoints.js"></script>
    <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="js/contact_me.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>

    <!-- read json config file @meswx -->
    <script type="text/javascript">
      function en_us(data) {
        window.localStorage.setItem("en_us", JSON.stringify(data))
      }
      function zh_cn(data) {
        window.localStorage.setItem("zh_cn", JSON.stringify(data))
        var vm = new Vue({
          el: '#container',
          data: {
            lang: 'zh_cn',
            personInfo: {},
            header: {},
            navigation: {},
            about: {},
            skills: {},
            portfolio: {},
            contact: {},
            copyright: {},
            resume: {},
            education: {},
            experience: {}
          },
          methods: {
            changeLanguage: function () {
              var zh_cn = 'zh_cn'
              var en_us = 'en_us'
              if (this.lang == zh_cn) {
                // this.lang = en_us
                // this.language = "Chinese"
              } else {
                // this.lang = zh_cn
                // this.language = "英文简历"
              }
              var data = window.localStorage.getItem(this.lang)
              if (data != null) {
                data = JSON.parse(data)
                this.personInfo = data.personInfo
                this.header = data.header
                this.navigation = data.navigation
                this.about = data.about
                this.skills = data.skills
                this.portfolio = data.portfolio
                this.contact = data.contact
                this.copyright = data.copyright
                this.resume = data.resume
                this.education = data.resume.education
                this.experience = data.resume.experience
              }
            }
          },
          mounted: function () {
            this.changeLanguage()
          }
        })
      }
    </script>
    <script src="language/zh_cn.json"></script>
    <script src="language/en_us.json"></script>
  </div>
</body>

</html>