<!DOCTYPE html>
<html lang="en">

<html>

<head>
	<title>Mini Resume/CV @meswx</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<div id="app">

		<div class="container">
			<div class="hero">
				<h1 class="name"><strong>{{ personInfo.name }}</strong></h1>
				<span v-for="label in personInfo.labels" class="job-title">{{ label }}</span>
				<span class="email">{{ personInfo.email }}</span>
				<h2 class="lead">{{ personInfo.introduction }}</h2>
			</div>
		</div>

		<!-- Skills and intrest section -->
		<div class="container">

			<div class="sections">
				<h2 class="section-title">{{ skills.title }}</h2>

				<div v-for="card in skills.listCard" class="list-card">
					<span class="exp">{{ card.exp }}</span>
					<div>
						<h3>{{ card.title }}</h3>
						<span>{{ card.subtitle }}</span>
					</div>
				</div>

			</div>
			<div class="sections">
				<h2 class="section-title">{{ interests.title }}</h2>

				<div v-for="card in interests.listCard" class="list-card">
					<div>
						<h3>{{ card.title }}</h3>
						<span>{{ card.subtitle }}</span>
					</div>
				</div>

			</div>
		</div>

		<!-- Achievements -->
		<div class="container cards">

			<div v-for="achievement in achievements" class="card">
				<div class="skill-level">
					<h2 v-if="achievement.num">{{ achievement.num }}</h2>
					<span v-if="achievement.tag">{{ achievement.tag }}</span>
				</div>

				<div class="skill-meta">
					<h3 v-if="achievement.name">{{ achievement.name }}</h3>
					<span v-if="achievement.desc">{{ achievement.desc }}</span>
				</div>
			</div>

		</div>

		<!-- Timeeline -->
		<div v-for="timeline in timelines" class="container">
			<ol class="timeline">
				<li v-for="line in timeline.lines">
					<p v-if="line.point" class="line">{{ line.point }}</p>
					<span class="point"></span>
					<p v-if="line.description" class="description">{{ line.description }}</p>
					<span v-if="line.date" class="date">{{ line.date }}</span>
				</li>
			</ol>
			<br>
		</div>

		<footer class="container">
			<span style="font-size: 16px;">Coded by <a target="_blank" :href="copyright.website">{{ copyright.author }}
				</a> Designed by
				<a href="https://dribbble.com/shots/4342703-Minimal-resume-freebie-for-junior-self-taught-people">Nicolas
					Meuzard</a> ( Original Author, Thanks 🍺)</span>
		</footer>

		<script type="text/javascript" src="../js/vue.min.js"></script>

		<!-- read json config file @meswx -->
		<script type="text/javascript">
			function en_us(data) {
				window.localStorage.setItem("en_us", JSON.stringify(data))
				var vm = new Vue({
					el: '#app',
					data: {
						lang: 'en_us',
						language: null,
						personInfo: {},
						skills: {},
						interests: {},
						timelines: {},
						copyright: {},
						achievements: {},
					},
					mounted: function () {
						var data = window.localStorage.getItem(this.lang)
						if (data != null) {
							data = JSON.parse(data)
							this.personInfo = data.personInfo
							this.skills = data.skills
							this.interests = data.interests
							this.timelines = data.timelines
							this.copyright = data.copyright
							this.achievements = data.achievements
						}
					}
				})
			}
		</script>
		<script src="language/en_us.json"></script>

	</div>

</body>

</html>